<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Sign Up</h1>

    <%= form_with url: import_stores_path do |f| %>

      <div class="form-group">
        <%= f.label :file %>
        <%= f.file_field :file, accept: 'text/csv', autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>
  </div>
</div>