<style>
  a:active {
    color: gray;
  }
  a:visited {
    color:black;
  }
</style>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 mt-5">
      <%= search_form_for @q, url: search_result_path do |f| %>
        <div class="row no-gutters align-items-center">
          <div class="col">
            <%= f.text_field :title, class: 'form-control form-control-lg', placeholder: "Search" %>
          </div>
          <div class="col-auto">
            <button class="ml-2 btn btn-lg btn-secondary search-button" type="submit">Go</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%#  (650..900).each do |index| %>
<!--    <h6>-->
<!--      <a href="https://myip.ms/browse/sites/<%#= index %>/ownerID/376714/ownerIDii/376714/sort/1/asc/1" target="_blank">https://myip.ms/browse/sites/<%#= index %>/ownerID/376714/ownerIDii/376714/sort/1/asc/1</a>-->
<!--    </h6>-->
  <%# end%>

</div>